.row
  .col-md-3
    .ss-sidenav
      %legend Menu
      %ul.nav
        %li
          %a{href: ''} Create new ticket
    .ss-sidenav
      %legend Support Areas
      %ul.nav
        %li.active
          %a{href: ''} My Tickets
        %li
          %a{href: ''} Processing (test)
        %li
          %a{href: ''} Processing (production)
  .col-md-9
    %legend My Tickets
    %div.list-group
      %a.list-group-item{href: ''}
        %h4.list-group-item-heading Heading1
        %p.list-group-item-text Text1
      %a.list-group-item{href: ''}
        %h4.list-group-item-heading Heading1
        %p.list-group-item-text Text1
      %a.list-group-item{href: ''}
        %h4.list-group-item-heading Heading1
        %p.list-group-item-text Text1
      %a.list-group-item{href: ''}
        %h4.list-group-item-heading Heading1
        %p.list-group-item-text Text1
      %a.list-group-item{href: ''}
        %h4.list-group-item-heading Heading1
        %p.list-group-item-text Text1
      %a.list-group-item{href: ''}
        %h4.list-group-item-heading Heading1
        %p.list-group-item-text Text1
      %a.list-group-item{href: ''}
        %h4.list-group-item-heading Heading1
        %p.list-group-item-text Text1
