- if flash.alert
  .alert.alert-dismissable.alert-danger
    %button.close{"data-dismiss" => "alert", type: "button"} ×
    = flash.alert
- if flash.notice
  .alert.alert-dismissable.alert-success
    %button.close{"data-dismiss" => "alert", type: "button"} ×
    = flash.notice