.itemdiv.dialogdiv
  .user
    = image_tag 'unkown_avatar.gif'
  .body
    .time
      %i.icon-time
      %span.green= ticket_comment.short_created_at
    .name
      %a{href: "#"}= ticket_comment.user.email
      - if ticket_comment.user.admin?
        %span.badge.badge-info admin
    .text= ticket_comment.message
    .tools