!!!
%html
  = render :partial => 'layouts/head'
  %body
    %div.uk-container.uk-container-center
      .uk-grid
        .uk-width-1-1
          %nav.uk-navbar
            %a.uk-navbar-brand= t 'app.title'
            %ul.uk-navbar-nav
      .uk-grid
        .uk-width-2-10
          sidebar
        .uk-width-8-10
          = yield